# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


venv/
env/
ENV/


.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db

trained_model/*.safetensors
 trained_model/pytorch_model.bin

.ipynb_checkpoints


.env


*.log
logs/

*.tmp
*.temp